{% extends "base_layout.html" %}
{% block content %}
    <form action="/doconfigure" method="POST">

    <h2>APIC Login Information</h2>
    {{ form.csrf_token }}

     <div class="form-group row">
            <label class="col-sm-2 col-form-label">APIC Hostname Name</label>
            <div class="col-sm-10">
                {{form.apic_hostname(class_="form-control", placeholder="apic.company.com")}}
            </div>
     </div>
     <div class="form-group row">
        <label class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            {{form.apic_username(class_="form-control", placeholder="admin")}}
        </div>
     </div>
     <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                {{form.apic_password(class_="form-control", placeholder="***")}}
            </div>
        </div>

    <br>
    <h2>Nexus 1 Login Information</h2>

         <div class="form-group row">
            <label class="col-sm-2 col-form-label">Primary Nexus Hostname/IP</label>
            <div class="col-sm-10">
                {{form.nexus_hostname(class_="form-control", placeholder="n7k1.company.com")}}
            </div>
        </div>
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                {{form.nexus_username(class_="form-control", placeholder="admin")}}
            </div>
        </div>
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                {{form.nexus_password(class_="form-control", placeholder="***")}}
            </div>
        </div>
    <h2>Nexus 2 Login Information</h2>
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">Secondary Nexus Hostname/IP</label>
            <div class="col-sm-10">
                {{form.nexus2_hostname(class_="form-control", placeholder="admin")}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                {{form.nexus2_username(class_="form-control", placeholder="admin")}}
            </div>
        </div>
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                {{form.nexus2_password(class_="form-control", placeholder="***")}}
            </div>
        </div>

       <br><button type="submit" class="btn btn-primary btn-lg">Submit</button>

      </ul>
    </div>

{% endblock %}

