{% extends "base_layout.html" %}
{% block content %}

<h1>The following Vlans are present on the Nexus Device</h1>
  <table border="2" style="width:100%">
        <tr>
            <th>VLAN</th>
            <th>Name</th>
            <th>HSRP MAC</th>
            <th>HSRP VIP</th>
        </tr>
        {% for n in data.keys() %}
            <tr>
                <td>{{n}}</td>
                <td>{{data[n]['name']}}</td>
                <td>{{data[n]['hsrp']['vmac']}}</td>
                <td>
                    {% for vip in data[n]['hsrp']['vips'] %}
                    {{vip}}<br>
                    {% endfor %}
                    </td>
            </tr>
         {% endfor %}
  </table>
      <br>
       <form action="/migrate" method="POST">
            {{ form.csrf_token }}
                {{ form.tenant_name.label }} {{ form.tenant_name(size=20) }}<br>
                {{ form.app_name.label }} {{ form.app_name(size=20) }}<br>
                {{ form.layer3.label }} {{ form.layer3(size=20) }}<br>
                <h2>Nexus 1</h2>
                <select name="n1i1">
                    {% for interface in n1interfaces %}
                        <option value = "{{ interface }}">{{ interface }}</option>
                    {% endfor %}
                </select>
                <select name=n1i2">
                    {% for interface in n1interfaces %}
                        <option value = "{{ interface }}">{{ interface }}</option>
                    {% endfor %}
                </select>
                    {{ form.n1pc.label }} {{ form.n1pc(size=4) }}<br>
               <h2>Nexus 2</h2>
                    <select name="n2i1">
                        {% for interface in n2interfaces %}
                            <option value = "{{ interface }}">{{ interface }}</option>
                        {% endfor %}
                    </select>
                    <select name=n2i2">
                        {% for interface in n2interfaces %}
                            <option value = "{{ interface }}">{{ interface }}</option>
                        {% endfor %}
                    </select>
                        {{ form.n2pc.label }} {{ form.n2pc(size=4) }}<br>

            <br><button type="submit" class="btn btn-primary btn-lg">Migrate</button>

        </form>


{% endblock %}
